{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Profile</li>
            </ol>
            <h2>Profile</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <p>
                Profile Page
            </p>
            <h1>{{ user.username }}</h1>

        </div>
    </section>

</main><!-- End #main -->
{% endblock %}