{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Create Post</li>
            </ol>
            <h2>Create</h2>

        </div>
    </section><!-- End Breadcrumbs -->

   

    <section class="inner-page">
        <div class="container">
            <p>
                Create Post
            </p>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Blog Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </form>            
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}